<!DOCTYPE html>
<html ng-app="noServerProj">
<head>
	<title>noServerProj</title>

<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="SampleController">
<div class="header"><h1>Post Sports</h1></div>

<!-- <div ng-show="!reg">
        <h2>Login</h2>
        <form ng-submit="login()">
            <p ng-show="error" class="text-danger">{{ error }}</p>
            <input type="email" placeholder="Email" class="form-control" ng-model="details.email" required><br>
            <input type="password" placeholder="Password" class="form-control" ng-model="details.password" required><br>
            <input type="submit" class="btn btn-info" value="Sign In">
        </form>
    </div>
    <div ng-show="reg">
        <h2>Register</h2>
      
        <form ng-submit="register()">
            <p ng-show="error" class="text-danger">{{ error }}</p>
            <input class="form-control" type="text" placeholder="Full Name" ng-model="details.name" required /><br />
            <input class="form-control" type="email" placeholder="Email" ng-model="details.email" required /><br />
            <input class="form-control" type="password" placeholder="Password" ng-model="details.password" required /><br />
            <input type="submit" class="btn btn-info btn-lg" value="Register" />
        </form>
    </div>
 -->
<div class="content"> 
	<textarea class="textbox" ng-model="storyTxt" placeholder="add your story...." rows="4" cols="50"></textarea> 
	<br/>
	<button class="button" ng-click="pushMessage()">submit</button>

		<div ng-repeat="message in messages">
			<div class="storyContainer">{{message.message}}</div>
		<button class="button" ng-click="addComment = !addComment"> view or add a comment</button>

		<br/>
			<div ng-show="addComment">
				<input class="commentBox"ng-model="commentTxt" type="text"/>
				
				<button ng-click="pushComments(message.$id, commentTxt)"class="button">submit</button>

				<hr/>

				<div ng-repeat="comment in message.comments" class=" storyContainer commentContainer">
				
					{{comment.text}}
				</div>

				<hr/>
						
			</div>
		</div>



</div>




<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
<script src="JS/app.js"></script>
<script src="JS/mainCtrl.js"></script>
<script src="JS/service.js"></script>
<script src="login/loginService.js"></script>
</body>
</html>

